* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: rem($desktop-wrapper);
    margin: 0 auto;
    position: relative;
}

.main {
    position: relative;
    // padding top: header height
    padding-top: rem(80px);
}

// === Hide arrows of number type of input ===

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// === / Hide arrows of number type of input ===

.swiper-wrapper {
  flex-wrap: nowrap;
  margin: 0;
  // padding-left: 16px;
}



// .swiper-slide {
//   padding: 0 0;
// }

.nav-button {
  width: rem(48px);
  height: rem(48px);
  position: relative;
}

.policy {
  @include text-cap;
  padding-top: rem(24px);
  text-align: center;
  max-width: rem(333px);
  align-self: center;
  color: $black-m;

  &__link {
    text-decoration: none;
    color: $black-m;

    &:hover {
      text-decoration: underline;
    }
  }
}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .main {
    padding-top: rem(68px);
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

  .mobile-container {
    padding-right: 0;
  }
  
 }