// === TEXT MIXINS ===

@mixin text-cap {
    font-size: rem($fs-cap);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 160%;

}

@mixin text-button {
    font-size: rem($fs-reg);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 100%;
}

@mixin text-body1 {
    font-size: rem($fs-bod);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 160%;

    @media (max-width: 768px) {
        font-size: rem($fs-reg);
    }
}

@mixin text-body {
    font-size: rem($fs-reg);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 160%;
    color: $black-m;
}

@mixin text-title {
    font-size: rem($fs-reg);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 160%;
    color: $black;
}

@mixin text-subtitle {
    font-size: rem($fs-subt);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 160%;

    @media (max-width: 768px) {
        font-size: rem($fs-reg);
    }
}

@mixin text-h2 {
    font-size: rem($fs-h2);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 140%;
    color: $black;

    @media (max-width: 768px) {
        font-size: rem($fs-bod);
    }
}

@mixin text-h1 {
    font-size: rem($fs-hero);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 140%;
    color: $black;

    @media (max-width: 768px) {
        font-size: rem($fs-bod);
    }
}

@mixin text-hero {
    font-size: rem($fs-hero);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 100%;
    color: $black;
}

@mixin reset-a {
    color: $black;
    text-decoration: none;
}

// === / TEXT MIXINS ===


@mixin button {
    @include text-button;
    position: relative;
    color: #fff;
    padding: rem(16px) rem(25px);
    border-radius: rem(8px);
    outline: none;
    border: none;
    // background-color: $green;
    background: linear-gradient(180deg, #24C163 36.34%, #4A24E2 579.17%);
    transition: all 0.2s ease;
    z-index: 1;
    text-align: center;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-image: linear-gradient(180deg, #24C163 36.34%, #4A24E2 579.17%);
        opacity: 0;
        transition: all .2s ease;
        z-index: -1;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-image: linear-gradient(180deg, #24C163 36.34%, #4A24E2 579.17%);
        opacity: 0;
        transition: all .2s ease;
        z-index: -1;
    }

    &:hover {

        &:after {
            background: linear-gradient($green-dop, $green-dop);
            opacity: 1;
            border-radius: 8px;
        }

    }

    &:active {

        &:after {
            background: linear-gradient($green-dop, $green-dop);
            opacity: 0;
            border-radius: 8px;
        }

        &:before {
            background: linear-gradient(239.54deg, #3FE682 17.08%, #4A24E2 149.41%);
            opacity: 1;
            border-radius: 8px;
        }
    }

    @media (max-width: 767.98px) {
        
    }

}

@mixin icon($border-radius, $src) {
    border-radius: rem($border-radius);
    outline: none;
    transition: all 0.2s ease;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        background-image: url($src);
        width: rem(9px);
        height: rem(16px);
        left: calc(50% - 4px); 
        top: calc(50% - 8px);
        margin-left: auto; 
        margin-right: auto; 

        @if $src == '/assets/img/icons/close.svg' {
            width: rem(14px);
            height: rem(14px);
            left: calc(50% - 7px); 
            top: calc(50% - 7px);
        }
    }

    &:hover {
        background-color: $black-s;
    }

    &:active {
        background-color: #CCCCCC;
    }
    
}

@mixin input {
    @include text-body;
    color: $black;
    padding: rem(11px) rem(15px);
    border: 1px solid #1a1a1a3b;
    border-radius: 8px;
    background-color: transparent;
    outline: 0;
    margin-bottom: rem(24px);
    transition: border 0.2s ease;

    &:focus {
        border: 1px solid #24C163;
    }


}
