// === COLORS ===

$green: #24C163;
$black: rgba(0,0,0, .9);
$black-m: rgba(0,0,0, .7);
$black-s: rgba(0,0,0, .05);
$green-dop: #10CE5C;
$red-dop: #E31E1E;
$green-grad: linear-gradient(239.54deg, #3FE682 17.08%, #4A24E2 149.41%);

// === / COLORS ===

// === FONT SIZES ===

$fs-cap: 13px;
$fs-reg: 16px;
$fs-subt: 20px;
$fs-bod: 24px;
$fs-h2: 36px;
$fs-hero: 48px;

// === / FONT SIZES ===

// === WRAPPERS ===

// $desktop-wrapper-outer: 1440px;
$desktop-wrapper: 1280px;

// === / WRAPPERS ===

// === PX TO REM ===

$base-font: 16;


@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($base-font)}rem;
}

// === / PX TO REM ===