.benefits {
    padding-top: rem(185px);

    &__wrapper {
        position: relative;
    }

    &__title {
        @include text-h2;
        padding-bottom: rem(40px);

        // &::before {
        //     content: '';
        //     background-image: url('/assets/img/title-circle.svg');
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     position: absolute;
        //     left:0;
        //     top: rem(-70px);
        //     width: rem(200px);
        //     height: rem(200px);
        // }
    }

    &__parallax {

        &-block {
            position: absolute;
            left:0;
            top: rem(-70px);
            width: rem(200px);
            height: rem(200px);
        }

        &-circle {
            background-image: url('/assets/img/title-circle.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: rem(200px);
        }
    }

    &__item {
        border-top: 1px solid #1a1a1a1a;
    }

    &__cell {
        padding: rem(40px) 0 rem(40px) rem(40px);
    }

    &__id {
        @include text-hero;
        color: $green;
        padding-top: rem(40px);
        opacity: 0.4;
    }

    &__name {
        @include text-title;
        color: $black;
    }

    &__text {
        @include text-body;
        color: $black-m;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .benefits {
        padding-top: rem(72px);
        &__parallax {

            &-block {
                position: absolute;
                left: rem(-100px);
                top: rem(-84px);
                width: rem(200px);
                height: rem(200px);
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .benefits {
        

        &__parallax-block {
            display: none;
        }

        & tbody {
            margin:0;
        }

        &__title {
            padding-bottom: 2rem;
        }

        &__item {
            border: none;

            &:not(:last-child) {
                padding-bottom: 2rem;
            }
        }


        &__id {
            text-align: start;
            padding: 0;
        }

        &__cell {
            padding: 0;
        }

        &__name {
            padding-bottom: 0.5rem;
        }
    }
 }