.calc {
    margin-top: rem(64px);

    background: url('/assets/img/calc_bg.svg') no-repeat;
    background-size: 100% 100%;

    &__wrapper {
        padding-top: rem(200px);
        padding-bottom: rem(80px);
    }
}

.calculator {
    padding: rem(52px);
    background: #FFFFFF;
    box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    &__h2 {
        @include text-h2;
    }

    &__text {
        @include text-body;
        color: $black-m;
    }

    &__hr {
        margin: rem(28px) 0;
        border: none;
        height: 2px;
        color: #1a1a1a1a;
        background-color: #1a1a1a1a;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__block {
        display: flex;
        flex-direction: column;
        margin-right: rem(28px);

        &_no-mr {
            margin-right: 0;
        }

        
    }

    &_mt {
        margin-top: rem(42px);
    }



    &__block-title {
        @include text-title;
        color: $black;
        padding-bottom: rem(16px);
    }

    &__caption {
        @include text-cap;
        color: $black-m;
        padding-bottom: rem(8px);
        width: max-content;
    }

    &__input {
        // @include text-title;
        // color: $black;
        // padding: rem(11px) rem(15px);
        // border: 1px solid #1a1a1a3b;
        // border-radius: 8px;
        // background-color: transparent;
        // outline: 0;

        @include input;
        max-width: rem(140px);
        // margin-bottom: rem(16px);
        margin-bottom: 0;
        font-weight: bold;

        &_readonly {
            border: 1px solid transparent;
            padding-left: 0;
            max-width: rem(120px);

            &:focus {
                border: 1px solid transparent;
            }
        }
    }

    &__result-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: rem(48px)
    }

    &__button {
        @include button;
        margin-right: rem(56px);
    }

    &__result {
        @include text-title;
        color: $black;
        width: rem(120px);
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .calculator {

        &__block_no-mr {
            margin-right: 1.75rem;
        }
        
        &__content {
            justify-content: inherit;
        }

        &__block {

            &_site {
                margin-right: rem(32px);
            }
        }

        &_mt-m {
            margin-top: 2rem;
        }

        &_mr-m {
            margin-right: 10rem;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .calc {
        margin-top: rem(40px);
        background: linear-gradient(239.54deg, rgba(63, 230, 130, 0.3) 17.08%, rgba(74, 36, 226, 0.3) 149.41%);

        &__wrapper {
            padding-top: rem(40px);
        }
    }

    .calculator {
        padding: rem(24px);

        &__input:not(.calculator__input_readonly) {
            width: 100%;
            max-width: none;
        }

        &__block-title {
            padding-bottom: 0.5rem;
        }

        &__title {
            grid-area: title;
        }

        &_mt {
            margin-top: 1rem;
        }

        &_mt-m {
            margin-top: 0;
        }

        &_mr-m {
            margin-right: 0;
        }

        &_mb {
            margin-bottom: 1rem;
        }

        &__hr {
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        &__caption {
            width: 100%;
            padding-bottom: 0;

            &_1 {
                grid-area: cap1;
                align-self: center;
            }

            &_2 {
                grid-area: cap2;
                align-self: end;
            }
        }

        &__input {
            height: rem(48px);

            &_readonly {
                height: rem(26px);
            }

            &_1 {
                grid-area: input1;
                align-self: center;
            }

            &_2 {
                grid-area: input2;
                align-self: center;
                width: 100%;
            }
        }

        &__block {
            margin-right: 0;

            &_site {
                display: grid;
                padding-top: rem(24px);
                grid-template-columns: 55% auto;
                width: 100%;
                grid-template-rows: rem(26px) minmax(rem(21px), auto) rem(26px);
                column-gap: rem(24px);
                grid-template-areas:
                    "title title"
                    "cap1 cap2"
                    "input1 input2";
            }

            &_sales {
                display: grid;
                padding-top: rem(24px);
                grid-template-columns: 66% auto;
                width: 100%;
                // grid-template-rows: minmax(rem(26px), auto) minmax(rem(21px), auto) rem(77px);
                grid-template-rows: minmax(rem(26px), auto) minmax(rem(42px), auto)  rem(48px);
                // row-gap: rem(8px);
                column-gap: rem(24px);
                grid-template-areas:
                    "title title"
                    "cap1 cap2"
                    "input1 input2";
            }

            &_sales2 {
                padding-top: 1rem;
                display: grid;
                grid-template-columns: 66% auto;
                width: 100%;
                // grid-template-rows: minmax(rem(26px), auto) minmax(rem(21px), auto) rem(77px);
                grid-template-rows: repeat(2, rem(21px)) rem(35px);
                // row-gap: rem(8px);
                column-gap: rem(24px);
                grid-template-areas:
                    "cap1 cap2"
                    "input1 cap2"
                    "input1 input2";
            }
        }

        &__result-button {
            flex-direction: column;
            align-items: inherit;
            padding-top: rem(24px);
        }

        &__button {
            margin-right: 0;
            order: 1;
        }

        &__result {
            order: 0;
            padding-bottom: rem(40px);
        }
    }

    .w-100 {
        width: 100%;
    }
 }
