.classic {
    padding-top: rem(144px);

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__phone {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: rem(-170px);
            top: rem(-30px);
            background: url('/assets/img/circles.svg');
            height: rem(728px);
            width: rem(728px);
            z-index: -1;
        }

        &-image {
            margin-left: rem(37px);
        }
    }

    &__title {
        @include text-h2;
        padding-bottom: rem(24px);
        position: relative;


    }

    &__parallax-block {
        position: absolute;
        right: rem(90px);
        top: rem(-70px);
        width: rem(139px);
        height: rem(139px);
    }

    &__parallax-circle {
        background-image: url('/assets/img/title-circle.svg');
        background-repeat: no-repeat;
        height: rem(139px)
    }

    &__text {
        @include text-body;
        padding-bottom: rem(56px);
    }

    &__title-tech {
        @include text-title;
        padding-bottom: rem(12px);
    }

    &__list {
        list-style-image: url('/assets/img/icons/marker.svg');
        list-style-position: inside; 
        padding-bottom: rem(28px);
    }

    &__item {
        @include text-body;
        color: $black-m;
        max-width: rem(300px);
        padding-bottom: rem(8px);

        &::marker {
            width: rem(12px);
            height: rem(12px);
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .classic {
        padding-top: rem(72px);

        &__title {
            padding-bottom: 1rem;
        }

        &__parallax-block {
            display: none;
        }

        &__text {
            padding-bottom: 2rem;
        }

        &__list {
            padding-bottom: 0;
        }
    }
 }