.for {

    &__wrapper {
        padding-top: rem(104px);
        padding-left: rem(88px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        @include text-h2;
        text-align: center;
    }

    &__cards {
        padding-top: rem(80px);
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: rem(239px);
        align-items: center;
    }

    &__image {
        height: rem(109px)!important;
        width: fit-content;
        margin-bottom: rem(32px);
        object-fit: contain;
    }

    &__subt {
        @include text-subtitle;
        padding-bottom: rem(8px);
        text-align: center
    }

    &__text {
        @include text-body;
        text-align: center;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .for {
        &__wrapper {
            padding-left: 0;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .for {
        &__wrapper {
            padding-top: rem(72px);
        }

        &__cards {
            flex-direction: column;
            align-items: center;
            padding-top: 2rem;
        }

        &__image {
            margin-bottom: 1rem;
        }

        &__item:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }