.form {
    padding: rem(94px) 0;
    background: url('/assets/img/footer_form.svg') no-repeat;
    background-size: cover;
    background-position: center;

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__block {
        padding: rem(48px);
        border-radius: rem(8px);
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.15);
    }

    &__name {
        @include text-cap;
        padding-bottom: rem(8px);
    }

    &__input {
        @include input;
    }

    &__button {
        margin-top: rem(16px);
        @include button;
    }
}

@media (max-width: 991.98px) {
    .form {
        padding: 2rem 1rem;

        &__block {
            padding: 1.5rem;
        }
    }
}