.header {
    position: fixed;
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(16px) 0;
    }

    &__logo {
        font-size: rem($fs-bod);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 150%;
        @include reset-a;
    }

    &__list {
        display: flex;
        width: rem(495px);
        justify-content: space-between;
        padding-left: 0;
    }

    &__item {
        list-style-type: none;

        text-decoration: none;
        
        :hover {
            background-size: 100% 2px;
        }

        :active {
            color: $green;
        }
    }

    &__link {
        @include text-button;
        color: $black;
        text-decoration: none;
        // transition: all 0.3s ease;
        padding-bottom: rem(10px);
        background-image: linear-gradient($green, $green);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        
        :hover {

            background-size: 100% 2px;
        }
    }

    &__button {
        @include reset-a;
        @include button;
    }
}

.hamburger {
    display: none;
}

@media (max-width: 992px) {
    .header {

        &__button {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: relative;
        width: rem(18px);
        height: rem(14px);
        z-index: 10;
        

        &::before {
            content: '';
            background-color: #000;
            position: absolute;
            width: 100%;
            height: rem(2px);
            border-radius: 50px;
            left:0;
            top:0;
            transition: all 0.2s ease;

            &.active {
                transform: rotate(45deg);
            }
        }

        &::after {
            content: '';
            background-color: #000;
            position: absolute;
            width: 100%;
            height: rem(2px);
            border-radius: 50px;
            left:0;
            bottom: 0;
            transition: all 0.2s ease;

            &.active {
                transform: rotate(-45deg);
            }
        }

        &__line {
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 50px;
            left:0;
            top: rem(6px);
        }

        &.active {
            &::before {
                transform: rotate(45deg);
                top: rem(6px);
            }

            &::after {
                transform: rotate(-45deg);
                bottom: rem(6px);
            }

            & .hamburger {
                
                &__line {
                    transform: scale(0);
                }
            }
        }
    }

    .header {

        &__nav {
            display: none;
            animation: slideDown 0.4s ease;
        }
    }

    .active.header {
        background-color: #fff;
        height: 100%;

        & .header {
            &__nav {
                transition: all .2s ease;
                display: block;
                position: fixed;
                top: rem(136px);
                left: rem(25px);
            }
    
            &__list {
                flex-direction: column;
            }
            
            &__item {
                margin-bottom: rem(32px);
            }
    
            &__link {
                @include text-h2;
                color: $green;
                
            }
        }

    }

    .active.hamburger {

    }


}

@keyframes slideDown {
    0% {
        top: rem(-200px);
        opacity: 0;
    }

    100% {
        top: rem(132px);
        opacity: 1;
    }
}