.hero {
    position: relative;

    &__wrapper {
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        padding-top: rem(220px);
    }

    &__background {
        height: calc(100vw / 1920 * 780); 
        // calc(100vw / 1920 * 785)
        width: 100%;
        position: absolute;
        top: 0;
        background: url('/assets/img/hero_back.svg') no-repeat 50%/cover;
        z-index: -3;
    }

    &__image {
        z-index: 2;
    }

    &__info {
        max-width: rem(548px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        @include text-h1;
    }

    &__text {
        @include text-body;
        padding-top: rem(20px);
        max-width: rem(416px);
        margin-bottom: calc(60px + 16px);
    }

    &__button {
        @include reset-a;
        @include button;
    }

    &__parallax {
        position: absolute;
        z-index: -1;
        right: rem(315px);
        top: rem(57px);
    }

    &__notebook {
        position: absolute;
        z-index: -2;
        right: 0;
        top: rem(242px);
        max-width: rem(902px);
        right: calc(100vw / 1920 * 133);

        &-block_m {
            display: none;
        }
    }

    &__phone {
        position: absolute;
        z-index: -1;
        right: 0;
        top: rem(57px);
        right: calc(100vw / 1920 * 295);
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .hero {
        &__wrapper {
            padding-top: rem(108px);
        }

        &__decor {
            display: none;
        }

        &__parallax {
            right: rem(187px);
        }
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .hero {
        &__wrapper {
            padding-top: rem(108px);
        }


        &__parallax {
            right: rem(60px);
        }
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .hero {
        overflow: hidden;

        &__wrapper {
            padding-top: rem(40px);
        }

        // &__background {
        //     height: 100%;
        //     width: 100%;
        //     position: absolute;
        //     top: 0;
        //     background: url('/assets/img/bg_mobile.svg') no-repeat top right/contain;
        //     z-index: -3;
        // }

        &__text {
            margin-bottom: 0;
        }

        &__notebook-block_m {
            display: block;
            width: 387px;
            height: 240px;
            margin-bottom: rem(30px);
        }

        &__notebook_m {
            width: 387px;
            height: 240px;
        }

        &__parallax {
            display: none;
        }

        &__button {
            width: 100%;
        }
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .hero {
        &__info {
            width: 100%;
        }

        &__background {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            background: url('/assets/img/bg_mobile.svg') no-repeat top right/contain;
            z-index: -3;
        }

        &__button {
            width: 100%;
        }

        &__notebook_m {
            position: absolute;
            right: rem(-68px);
        }
    }

 }




