.inwork {
    margin-top: rem(102px);
    background-color: $black-s;
    position: relative;

    &__image-block {
        position: absolute;
        padding-right: 0;
    }

    &__image {
        width: 100%;
        height: rem(811px);
        object-fit: cover;
    }

    &__wrapper {
        padding: rem(80px) 0;
    }

    &__count {
        @include text-body;
        font-style: normal;
        padding-bottom: rem(4px); 
    }

    &__h2 {
        @include text-h2;
        max-width: rem(416px);
        padding-bottom: rem(24px);
    }

    &__left {
        @include text-title;
        font-style: normal;
    }

    &__form {
        padding-top: rem(40px);
        display: flex;
        flex-direction: column;
    }

    &__item-title {
        @include text-cap;
        padding-bottom: rem(8px);
    }

    &__input {
        // @include text-body;
        // color: $black;
        // padding: rem(11px) rem(15px);
        // border: 1px solid #1a1a1a3b;
        // border-radius: 8px;
        // background-color: transparent;
        // outline: 0;
        // margin-bottom: rem(24px);

        @include input
    }

    &__button {
        margin-top: rem(16px);
        @include button;
    }
}

@media (max-width: 991.98px) {
    .inwork {
        margin-top: 40px;

        &__wrapper {
           padding: rem(40px) 0;
        }

    }
}

@media (max-width: 767.98px) {
    // .inwork {
    //     margin-top: 40px;

    //     &__wrapper {
    //        padding: rem(40px) 0;
    //     }

    // }
}