.modal {
    padding: 0;
}

.modal a.close-modal {
    @include icon(8px, '/assets/img/icons/close.svg');
    background-image: none;
    top: 19px;
    right: 8px;
}

@media (max-width: 575.98px) { 

    .blocker {
        padding: 0;
    }

    .modal {
        max-width: unset;
        width: 100%;
        height: 100%;
        border-radius: 0;

        &__block {
            border-radius: 0;
            box-shadow: none;
            padding: 1rem;
            margin-top: rem(90px);
        }
    }
    
}