.offer {
    position: relative;


    &__wrapper {
        margin-top: rem(385px);
        margin-left: rem(284px);
        position: relative;
    }

    &__image {
        border-radius: 100%;
        position: absolute;
        top: rem(-204px);
        left: rem(-224px);
        z-index: -1;
    }

    &__info {
        // top: rem(204px);
        // left: rem(224px);
        padding: rem(40px) 0 0 rem(40px);
        background-color: #fff;
        display: flex;
    }

    &__answer {
        max-width: rem(367px);
        padding-right: rem(65px);

        &-text {
            @include text-body;
            color: $black-m;
            padding-top: rem(32px)
        }
    }

    &__h2 {
        @include text-h2;
    }
}

.request {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        @include text-title;

        &_1 {
            padding-bottom: rem(12px);
        }

        &_2 {
            padding-bottom: rem(4px);
        }
    }

    &__list {
        list-style-image: url('/assets/img/icons/marker.svg');
        list-style-position: inside; 
        padding-bottom: rem(28px);
    }

    &__item {
        @include text-body;
        color: $black-m;

        &::marker {
            // content: url('/assets/img/icons/marker.svg');
            width: rem(12px);
            height: rem(12px);
        }
    }

    &__text {
        @include text-body;
        color: $black-m;

        &_1 {
            padding-bottom: rem(17px);
        }
    }

    &__h2 {
        @include text-h2;
        padding-bottom: rem(27px);
        color: $black-m;
    }

    &__button {
        @include reset-a;
        @include button;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .offer {

        &__wrapper {
            margin-top: rem(337px);
        }
        
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .offer {

        &__wrapper {
            margin: 376px 0 0 0;
        }

        &__image {
            width: rem(264px);
            height: rem(264px);
            top: rem(-316px);
            left: calc(50% - 132px);
        }

        &__info {
            padding: 0;
            flex-direction: column;
        }

        &__answer {
            padding: 0 0 rem(32px) 0;
            max-width: 100%;
        }

    }

    .request {
        align-items: inherit;
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }