.projects {

    &__wrapper {
        padding-top: rem(104px);
    }

    &__head {
        display: flex;
        justify-content: space-between;
        padding-bottom: rem(40px);
    }

    &__title {
        @include text-h2;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        width: rem(112px);
    }

    &__prev {
        @include icon(24px, '/assets/img/icons/arrow_left.svg')
    }

    &__next {
        @include icon(24px, '/assets/img/icons/arrow_right.svg')
    }

    &__slide {
        width: rem(416px);
        min-height: rem(374px);
    }

    &__image-block {
        height: rem(300px);
        width: 100%;
        background-color: #F2F2F2;
        margin-bottom: rem(16px);
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    &__image {
        width: rem(346px);
        height: rem(176px);
        box-shadow: 0 0 0 4px #F2F2F2;
        // border: 4px solid #F2F2F2;
        filter: drop-shadow(8px 8px 24px rgba(0, 0, 0, 0.15)) drop-shadow(-8px -8px 15px #FFFFFF);
        object-fit: contain;
        border-radius: 10px;
    }

    &__item {

        &-subtitle {
            @include text-subtitle;
        }
        
        &-text {
            @include text-body;
        }
    }
}

@media (max-width: 991.98px) {
    .projects {

        &__head {
            padding-bottom: 1rem;
        }

        &__image-block {
            height: rem(184px);
        }

        &__image {
            width: rem(212px);
            margin: 0 rem(22px);
            height: rem(107px);
        }

        &__slide {
            min-height: rem(270px);
        }
    }


}

@media (max-width: 767.98px) {
    .projects {

        &__wrapper {
            overflow: hidden;
        }

        &__controls {
            display: none;
        }

        &__slider {
            width: rem(521px);
        }
    }

}

