.process {

    &__wrapper {
        padding-top: rem(106px);
    }

    &__h2 {
        @include text-h2;

        padding-bottom: rem(24px);
    }

    &__text {
        @include text-body;
    }

    &__item:not(:last-child) {
        padding-bottom: rem(32px);
    }

    &__number {
        @include text-hero;
        color: $green;
        opacity: 0.4;
        padding-bottom: rem(8px);
    }
}

@media (max-width: 767.98px) {
    .process {

        &__wrapper {
            padding-top: rem(40px);
        }

        &__list {
            padding-top: rem(32px);
        }

    }
}