.reviews {
    &__wrapper {
        padding-top: rem(104px);
    }

    &__head {
        display: flex;
        justify-content: space-between;
        padding-bottom: rem(40px);
    }

    &__title {
        @include text-h2;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        width: rem(112px);
    }

    &__prev {
        @include icon(24px, '/assets/img/icons/arrow_left.svg')
    }

    &__next {
        @include icon(24px, '/assets/img/icons/arrow_right.svg')
    }

    &__slide {
        min-height: rem(314px);
        background-color: #F2F2F2;
        padding: rem(40px);
        border-radius: 8px;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__user-info {
        display: flex;
        flex-direction: column;
        padding-left: rem(24px);
    }

    &__date {
        @include text-cap;
    }

    &__name {
        @include text-subtitle;
    }

    &__text {
        @include text-body;
        margin-top: 24px;
    }


    &__image {
        width: rem(80px);
        height: rem(80px);
        border-radius: 50px;
        object-fit: cover; 
        object-position: top;
    }

    &__item {

        &-subtitle {
            @include text-subtitle;
        }
        
        &-text {
            @include text-body;
        }
    }

    &__mobile {
        display: none;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .reviews {

        &__slider {
            display: none;
        }

        &__wrapper {
            padding-top: rem(40px);
        }


        &__controls {
            display: none;
        }

        &__mobile {
            display: block;
        }

        &__review-card {
            background-color: #F2F2F2;
            visibility: hidden;
            height: 0;
            opacity: 0;
            transition: opacity .4s ease;

            &_active, &_active-always {
                padding: 2rem 1rem;
                height: 100%;
                opacity: 1;
                visibility: visible;
            }

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }

        &__text {
            max-height: rem(208px);
            overflow: scroll;
        }

        &__mobile-button {
            width: 100%;
            @include text-button;
            padding: 1rem;
            background-color: $black-s;
            border-radius: 8px;
            outline: none;
            border: none;

        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .reviews {
        &__review-card {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
 }