.what-for {
    margin-top: rem(104px);
    background-color: $black-s;
    padding: rem(80px) 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include text-h2;
        padding-bottom: rem(24px);
        text-align: center;
    }

    &__text {
        @include text-body1;
        max-width: rem(885px);
        text-align: center;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .what-for{
        margin-top: rem(72px);
        padding: rem(40px) 0;
    }
  }