.why-us {
    padding-top: rem(104px);

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__title {
        @include text-h2;
        padding-bottom: rem(24px);
    }

    &__text {
        @include text-body;
    }

    &__img {
        width: 100%;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .why-us {
        padding-top: rem(72px);

        &__images {
            padding-top: rem(32px);
            order: 2;
        }

        &__textblock {
            order : 1;
        }
    }
  }