.work-with {
    padding-top: rem(104px);

    &__h2 {
        @include text-h2;
        padding-bottom: rem(40px);
        text-align: center;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 26rem));
        grid-auto-rows: rem(201px);
        gap: rem(16px);

        &_m {
            display: none;
        }
    }

    &__card, &__card_m {
        background: #F2F2F2;
        border-radius: 8px;
        padding: rem(24px) rem(48px);
        display: grid;
        place-items: center;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .work-with {
        &__cards {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-auto-rows: rem(201px);
            gap: rem(16px);
        }
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    
    .work-with {
        padding-top: rem(72px);

        &__cards {
            display: none;

            &_m {
                display: inherit;
            }
        }

        &__card_m {
            width: rem(256px);
            height: rem(124px);
        }

        &__mobile-wrapper {
            width: 100%;
            overflow: hidden;
        }

        &__image {
            max-height: rem(66px);
            
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 

    .work-with {
        // overflow: hidden;

        &__cards {

            &_m {
                width: rem(521px);
            }
        }
    }


 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 



 }