<section class="benefits" id="benefits">
    <div class="container">
        <div class="benefits__wrapper ">
            <h2 class="benefits__title offset-md-1">Преимущества
                <span class="benefits__parallax-block" >
                    <span class="benefits__parallax-circle" data-depth="0.1"></span>
                </span>
            </h2>

            <table class="benefits__table col-md-10 offset-md-1">
                <tbody class="row">
                    <tr class="benefits__item row">
                        <th class="benefits__id col-md-1">01</th>
                        <td class="benefits__name benefits__cell col-md-4">Cвоя разработка</td>
                        <td class="benefits__text benefits__cell col-md-7">Мы не используем конструкторы сайтов. Благодаря этому наши сайты находятся выше в поиске, имеют качественный адаптив и сохраняют уникальность.</td>
                    </tr>
                    <tr class="benefits__item row">
                        <th class="benefits__id col-md-1">02</th>
                        <td class="benefits__name benefits__cell col-md-4">Настройка SEO</td>
                        <td class="benefits__text benefits__cell col-md">Настраиваем SEO с учетом семантики. Мы собираем поисковые запросы и оптимизируем Ваш сайт под них.</td>
                    </tr>
                    <tr class="benefits__item row">
                        <th class="benefits__id col-md-1 ">03</th>
                        <td class="benefits__name benefits__cell col-md-4">Полное ведение рекламной компании 2 недели</td>
                        <td class="benefits__text benefits__cell col-md-7">Прорабатываем рекламную кампанию и доводим её до лидов. Мы не просто запускаем контекстную рекламу, а ведем её и прорабатываем для того, чтобы Вы получили своих потенциальных заказчиков как можно скорее.</td>
                    </tr>
                    <tr class="benefits__item row">
                        <th class="benefits__id col-md-1">04</th>
                        <td class="benefits__name benefits__cell col-md-4">Каждый специалист отвечает за свою задачу</td>
                        <td class="benefits__text benefits__cell col-md-7">Работаем командой: разработчики отвечают за создание сайта, профильные маркетологи за его продвижение. </td>
                    </tr>
                    <tr class="benefits__item row">
                        <th class="benefits__id col-md-1">05</th>
                        <td class="benefits__name benefits__cell col-md-4">Быстрое решение</td>
                        <td class="benefits__text benefits__cell col-md-7">Мы не обещаем сверхрезультат. Наш продукт создан только для того, чтобы Вы смогли начать работать в Интернете, либо смогли проверить свои гипотезы или новые продукты. Это решение не принесет Вам миллионы (но это не точно), но даст понимание взаимодействия с веб-средой и максимально быстро окупится.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

</section>