<section class="calc">
    <div class="container">
        <div class="calc__wrapper">
            <form class="calculator">
                <h2 class="calculator__h2">Рентабельность</h2>
                <p class="calculator__text">Ваши вложения в «Быстрый старт» гарантировано окупятся</p>

                <hr class="calculator__hr">

                <div class="calculator__content">
                    <div class="calculator__block calculator__block_no-mr w-100">
                        <p class="calculator__block-title">Реклама</p>
                        <label class="calculator__caption" for="ad_budget">Рекламный бюджет, ₽</label>
                        <input class="calculator__input calculator_mb" type="tel" name="ad_budget" id="ad_budget" value="20000">

                        <label class="calculator__caption" for="ad_count">Показов рекламы</label>
                        <input class="calculator__input" type="tel" name="ad_count" id="ad_count" value="28571">
                    </div>

                    <div class="calculator__block calculator__block_no-mr">
                        <div class="calculator_mt"></div>
                        <label class="calculator__caption" for="price_click">Цена за клик, ₽</label>
                        <input class="calculator__input calculator__input_readonly calculator_mb" type="tel" name="" id="price_click"
                            value="10" readonly>

                        <label class="calculator__caption" for="steps">Переходов</label>
                        <input class="calculator__input calculator__input_readonly" type="tel" name="" id="steps"
                            value="2000" readonly>
                    </div>

                    <div class="calculator__block calculator_mr-m">
                        <div class="calculator_mt"></div>
                        <label class="calculator__caption" for="ctr">CTR, %</label>
                        <input class="calculator__input calculator__input_readonly calculator_mb" type="tel" name="" id="ctr"
                            value="7" readonly>

                        <label class="calculator__caption" for="lead">Стоимость лида, ₽</label>
                        <input class="calculator__input calculator__input_readonly" type="tel" name="" id="lead"
                            value="167" readonly>
                    </div>

                    <div class="calculator__block calculator__block_site">
                        <p class="calculator__block-title">Сайт</p>
                        <label class="calculator__caption calculator__caption_1" for="conversion">Конверсия лендинга, %</label>
                        <input class="calculator__input calculator__input_1 calculator__input_readonly" type="tel" name="" id="conversion"
                            value="6" readonly>

                        <label class="calculator__caption calculator__caption_2" for="apps">Заявок</label>
                        <input class="calculator__input calculator__input_2 calculator__input_readonly" type="tel" name="" id="apps"
                            value="120" readonly>
                    </div>

                    <div class="calculator__block calculator__block_sales calculator_mt-m  calculator__block_no-mr">
                        <p class="calculator__block-title">Отдел продаж</p>
                        <label class="calculator__caption calculator__caption_1" for="sales_conversion">Конверсия в продажи, %</label>
                        <input class="calculator__input calculator__input_1" type="tel" name="" id="sales_conversion" value="40">

                        <label class="calculator__caption calculator__caption_2" for="clients">Клиентов</label>
                        <input class="calculator__input calculator__input_2 calculator__input_readonly" type="tel" name="" id="clients"
                            value="48" readonly>
                    </div>

                    <div class="calculator__block calculator__block_sales2 calculator_mt-m calculator_mr-m">
                        <div class="calculator_mt"></div>
                        <label class="calculator__caption calculator__caption_1" for="avg_check">Средний чек, ₽</label>
                        <input class="calculator__input calculator__input_1" type="tel" name="" id="avg_check" value="15000">

                        <label class="calculator__caption calculator__caption_2" for="client_cost">Стоимость клиента, ₽</label>
                        <input class="calculator__input calculator__input_2 calculator__input_readonly" type="tel" name="" id="client_cost"
                            value="417" readonly>
                    </div>

                    <div class="calculator__block calculator__block_no-mr w-100 calculator_mt-m">
                        <p class="calculator__block-title">Деньги</p>
                        <label class="calculator__caption" for="rent">Рентабельность, %</label>
                        <input class="calculator__input calculator_mb" type="tel" name="" id="rent" value="20">

                        <label class="calculator__caption" for="net_profit">Чистая прибыль, ₽</label>
                        <input class="calculator__input calculator__input_readonly" type="tel" name="" id="net_profit"
                            value="124000" readonly>
                    </div>
                </div>

                <div class="calculator__result-button">
                    <button type="button" class="calculator__button">Оставить заявку</button>
                    <p id="result" class="calculator__result">ROI = 620 %</p>
                </div>

            </form>
        </div>
    </div>
</section>