<!-- Настоящий classic -->

<section class="classic"> 
    <div class="container">
        <div class="classic__wrapper">
            <div class="classic__phone col-lg-6 d-none d-lg-block">
                <img class="classic__phone-image" src="/assets/img/phone1.png" alt="phone">
            </div>

            <div class="classic__info offset-lg-1 col-lg-5">
                <h2 class="classic__title">Как мы реализуем проект 
                    <span class="classic__parallax-block" >
                        <span class="classic__parallax-circle" data-depth="0.1"></span>
                    </span>
                </h2>

                <p class="classic__text">
                    Для реализации проекта мы отобрали лучшие технологии, которые упрощают разработку, благодаря чему Вы получаете качественный продукт быстро и недорого. 
                </p>

                <p class="classic__title-tech">Технологии: </p>

                <ul class="classic__list">
                    <li class="classic__item">Сайт — ModX CMS</li>
                    <li class="classic__item">Трафик —  Контекстная или таргетированная реклама</li>
                    <li class="classic__item">Аналитика — Интеграция сквозной аналитики и настройка целей</li>
                </ul>
            </div>
        </div>
    </div>
</section>