<section class="form">
    <div class="form__wrapper">

        <form class="form__block">
            <label for="footer_name" class="form__name">Имя</label>
            <input type="text" name="name" id="footer_name" class="form__input" placeholder="Введите Ваше имя">

            <label for="footer_phone" class="form__name">Телефон</label>
            <input type="tel" name="phone" id="footer_phone" class="input__phone form__input" placeholder="+ 7 000 000-00-00">

            <label for="footer_email" class="form__name">E-mail</label>
            <input type="email" name="phone" id="footer_email" class="form__input" placeholder="name@mail.ru">

            <button type="submit" class="form__button">Отправить</button>

            <p class="policy">
                Нажимая кнопку вы даете согласие на <a href="#" class="policy__link">обработку персональных данных</a> 
            </p>

        </form>
    </div>
</section>