<section class="for">
    <div class="container">
        <div class="for__wrapper">
            <h2 class="for__title">Для кого?</h2>

            <div class="for__cards">
                <div class="for__item">
                    <img class="for__image" src="/assets/img/icons/globe.svg" alt="icon decoration">
                    <p class="for__subt">Старт-ап</p>
                    <p class="for__text">Поможем быстро представить
                        Вашу идею в интернете</p>
                </div>
                <div class="for__item">
                    <img class="for__image" src="/assets/img/icons/graph.svg" alt="icon decoration">
                    <p class="for__subt">Малый бизнес</p>
                    <p class="for__text">Дадим толчок к росту
                        Вашего бизнеса</p>
                </div>
                <div class="for__item">
                    <img class="for__image" src="/assets/img/icons/bulb.svg" alt="icon decoration">
                    <p class="for__subt">Средний бизнес</p>
                    <p class="for__text">Бюджетно протестируем
                        новые гепотизы</p>
                </div>
            </div>
        </div>
    </div>
</section>