<header class="header">
    <div class="container-lg">
        <div class="header__wrapper">
            <a class="header__logo" href="#main">Быстрый старт</a> 

            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item"><a href="#main" class="header__link">Главная</a></li>
                    <li class="header__item"><a href="#offer" class="header__link">Услуги</a></li>
                    <li class="header__item"><a href="#benefits" class="header__link">Преимущества</a></li>
                    <li class="header__item"><a href="#projects" class="header__link">Кейсы</a></li>
                    <li class="header__item"><a href="#reviews" class="header__link">Отзывы</a></li>
                </ul>
            </nav>

            
            <div class="hamburger">
                <span class="hamburger__line"></span>
            </div>

            <button class="header__button">Оставить заявку</button>
            
        </div>
    </div>
</header>