<section class="hero" id="main">
    <div class="container" style="position: relative;">
        <div class="hero__decor">
            <img class="hero__notebook" src="/assets/img/hero_notebook.png" alt="">
        </div>
    
        <div class="hero__parallax scene">
            <img class="hero__phone" src="/assets/img/phone.png" data-depth="0.1" alt="">
        </div>
    </div>
    <div class="hero__background"></div>


    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__info">
                <h1 class="hero__title">
                    Комплексная услуга «Быстрый старт»
                </h1>

                <p class="hero__text">
                    Создаем продающий лендинг, подготавливаем семантику и запускаем рекламу для интеграции Вашей компании в Интернет
                </p>

                <div class="hero__notebook-block_m">
                    <img class="hero__notebook_m" src="/assets/img/hero_notebook.png" alt="">
                </div>
                

                <button  class="hero__button">Оставить заявку</button>
            </div>
        </div>

    </div>
</section>