<section class="inwork">
    <div class="container-fluid">
        <div class="row">
            <div class="inwork__image-block offset-lg-6 col-lg-6 d-none d-lg-block">
            
                <img src="/assets/img/man.jpg" alt="" class="inwork__image">
            </div>
        </div>


        <div class="container">
            <div class="inwork__wrapper col-xl-4 col-lg-5 offset-xl-1">
                <p class="inwork__count">Проектов в работе: <var class="inwork__count" id="now">6</var>/<var class="inwork__count" id="all">10</var></p>

                <h2 class="inwork__h2">Предложение ограничено</h2>

                <p class="inwork__left">В марте осталось <var class="inwork__left" id="left">4</var> свободных места!</p>

                <form class="inwork__form" method="post">
                    <label for="" class="inwork__item-title">Имя</label>
                    <input type="text" class="inwork__input" placeholder="Введите Ваше имя">

                    <label for="" class="inwork__item-title">Телефон</label>
                    <input type="tel" class="inwork__input input__phone" placeholder="+ 7 000 000-00-00">

                    <label for="" class="inwork__item-title">E-mail</label>
                    <input type="mail" class="inwork__input" placeholder="name@mail.ru">

                    <button type="submit" class="inwork__button">Отправить</button>

                    <p class="policy">
                        Нажимая кнопку вы даете согласие на <a href="#" class="policy__link">обработку персональных данных</a> 
                    </p>
                </form>
            </div>
        </div>
    </div>


</section>