<section class="offer" >
    <div class="container">
        <div class="offer__wrapper">
            <img id="offer" src="assets/img/offer__photo.jpg" alt="" class="offer__image">

            <div class="offer__info">
                <div class="offer__answer">
                    <h2 class="offer__h2">Продуктивное решение</h2>
                    <p class="offer__answer-text">
                        Мы подготовили комплексное решение: интегрируем Вашу компанию в Интернет, помогаем протестировать гипотезы или новые продукты и открываем Вам новый канал продаж — Веб-пространство.
                    </p>
                </div>
    
                <div class="request">
                    <p class="request__title request__title_1">
                        За фиксированную стоимость мы:
                    </p>
    
                    <ul class="request__list">
                        <li class="request__item">создадим качественный лендинг</li>
                        <li class="request__item">соберем семантику</li>
                        <li class="request__item">проведем SEO-оптимизацию</li>
                        <li class="request__item">запустим и проведем рекламную кампанию</li>
                    </ul>
    
                    <p class="request__title request__title_2">Срок реализации:</p>
    
                    <p class="request__text request__text_1">7 рабочих дней + 2 недели ведения кампании.</p>
    
                    <p class="request__text">Стоимость:</p>
                    <p class="request__h2">29 990 ₽</p>
    
                    <button class="request__button ">Оставить заявку</button>
                </div>
            </div>
        </div>

        
    </div>
</section>