<section class="process">
    <div class="container">
        <div class="process__wrapper row">
            <div class="process__info offset-lg-2 col-lg-4">
                <h2 class="process__h2">Процесс</h2>

                <p class="process__text">Благодаря эффективному распределению задач в команде, мы можем делать проект в короткие сроки. Две команды трудятся одновременно</p>
            </div>
            
            <div class="process__list offset-lg-1 col-lg-4">
                <div class="process__item">
                    <div class="process__number">01</div>
                    <p class="process__text">Аналитика ниши, подготовка УТП, сбор информации</p>
                </div>
                <div class="process__item">
                    <div class="process__number">02</div>
                    <p class="process__text">Создание макета под Ваше направление, определение подходящих рекламных методов</p>
                </div>
                <div class="process__item">
                    <div class="process__number">03</div>
                    <p class="process__text">Создание сайта (дизайн, программирование), сбор семантики</p>
                </div>
                <div class="process__item">
                    <div class="process__number">04</div>
                    <p class="process__text">Наполнение контентом, SEO-оптимизация</p>
                </div>
                <div class="process__item">
                    <div class="process__number">05</div>
                    <p class="process__text">Запуск и ведение рекламной кампании</p>
                </div>
            </div>
        </div>
    </div>
</section>