<section class="projects" id="projects">
    <div class="container  mobile-container">
        <div class="projects__wrapper">
            <div class="projects__head">
                <h2 class="projects__title">Реализованныйе проекты</h2>

                <div class="projects__controls">
                    <div class="nav-button projects__prev"></div>
                    <div class="nav-button projects__next"></div>
                </div>
            </div>


            <!-- Slider main container -->
            <div class="swiper-container projects__slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper row">
                    <!-- Slides -->
                    <div class="swiper-slide projects__slide">
                        <div class="projects__image-block">
                            <a href="http://xn--80aaccropfyccfdr0b.xn--p1acf/" target="_blank"> 
                                <img class="projects__image lazy" data-src="/assets/img/slider_images/1.png" src="" alt="slider image">
                            </a>
                        </div>
                        <p class="projects__item-subtitle">Clean Sept</p>
                        <p class="projects__item-text">Результат: тут будет текстовое поле</p>
                    </div>

                    <div class="swiper-slide projects__slide">
                        <div class="projects__image-block">
                            <a href="http://xn--80aaccropfyccfdr0b.xn--p1acf/" target="_blank">
                                <img class="projects__image lazy" data-src="/assets/img/slider_images/2.png" src="" alt="slider image">
                            </a> 
                        </div>
                        <p class="projects__item-subtitle">Smart Master Technology</p>
                        <p class="projects__item-text">Результат: тут будет текстовое поле</p>
                    </div>

                    <div class="swiper-slide projects__slide">
                        <div class="projects__image-block">
                            <a href="http://xn--80aaccropfyccfdr0b.xn--p1acf/" target="_blank">
                                <img class="projects__image lazy" data-src="/assets/img/slider_images/3.png" src="" alt="slider image">
                            </a>
                        </div>
                        <p class="projects__item-subtitle">ПромЭнергоХолл</p>
                        <p class="projects__item-text">Результат: тут будет текстовое поле</p>
                    </div>

                    <div class="swiper-slide projects__slide">
                        <div class="projects__image-block">
                            <a href="http://xn--80aaccropfyccfdr0b.xn--p1acf/" target="_blank">
                                <img class="projects__image lazy" data-src="/assets/img/slider_images/4.png" src="" alt="slider image">
                            </a>
                        </div>
                        <p class="projects__item-subtitle">ПромЭнергоХолл</p>
                        <p class="projects__item-text">Результат: тут будет текстовое поле</p>
                    </div>

                    <div class="swiper-slide projects__slide">
                        <div class="projects__image-block">
                            <a href="http://xn--80aaccropfyccfdr0b.xn--p1acf/" target="_blank">
                                <img class="projects__image lazy" data-src="/assets/img/slider_images/5.png" src="" alt="slider image">
                            </a>
                        </div>
                        <p class="projects__item-subtitle">ПромЭнергоХолл</p>
                        <p class="projects__item-text">Результат: тут будет текстовое поле</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>