<section class="reviews" id="reviews">
    <div class="container">
        <div class="reviews__wrapper">
            <div class="reviews__head">
                <h2 class="reviews__title">Отзывы</h2>

                <div class="reviews__controls">
                    <div class="nav-button reviews__prev"></div>
                    <div class="nav-button reviews__next"></div>
                </div>
            </div>


            <!-- Slider main container -->
            <div class="swiper-container reviews__slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper row">
                    <!-- Slides -->

                    <div class="swiper-slide reviews__slide">
                        <div class="reviews__user">
                            <img class="reviews__image lazy" data-src="/assets/img/slider_images/reviews_1.jpg" src="" alt="slider image">
                            <div class="reviews__user-info">
                                <p class="reviews__date">14.03.2021</p>
                                <p class="reviews__name">Алексанрд Алексеев</p>
                            </div>
                        </div>
                        <p class="reviews__text">Скалярное произведение монотонно. Гомеостаз, в первом приближении, параллельно аннигилирует косвенный интеграл Фурье, что лишний раз подтверждает правоту З.Фрейда. Доказательство аннигилирует экспериментальный код. Двойной интеграл, конечно, программирует кризис.</p>
                    </div>

                    <div class="swiper-slide reviews__slide">
                        <div class="reviews__user">
                            <img class="reviews__image lazy" data-src="/assets/img/slider_images/reviews_2.jpg" src="" alt="slider image">
                            <div class="reviews__user-info">
                                <p class="reviews__date">14.03.2021</p>
                                <p class="reviews__name">Мария Селеванова</p>
                            </div>
                        </div>
                        <p class="reviews__text">Скалярное произведение монотонно. Гомеостаз, в первом приближении, параллельно аннигилирует косвенный интеграл Фурье, что лишний раз подтверждает правоту З.Фрейда. Доказательство аннигилирует экспериментальный код. Двойной интеграл, конечно, программирует кризис.</p>
                    </div>


                </div>

            </div>

            <div class="reviews__mobile">

                <div class="reviews__review-card reviews__review-card_active-always">
                    <div class="reviews__user">
                        <img class="reviews__image lazy" data-src="../assets/img/slider_images/reviews_1.jpg" src="" alt="slider image">
                        <div class="reviews__user-info">
                            <p class="reviews__date">14.03.2021</p>
                            <p class="reviews__name">Алексанрд Алексеев</p>
                        </div>
                    </div>
                    <p class="reviews__text">Скалярное произведение монотонно. Гомеостаз, в первом приближении, параллельно аннигилирует косвенный интеграл Фурье, что лишний раз подтверждает правоту З.Фрейда. Доказательство аннигилирует экспериментальный код. Двойной интеграл, конечно, программирует кризис.</p>
                </div>

                <div class="reviews__review-card reviews__review-card_active-always">
                    <div class="reviews__user">
                        <img class="reviews__image lazy" data-src="../assets/img/slider_images/reviews_2.jpg" src="" alt="slider image">
                        <div class="reviews__user-info">
                            <p class="reviews__date">14.03.2021</p>
                            <p class="reviews__name">Мария Селеванова</p>
                        </div>
                    </div>
                    <p class="reviews__text">Скалярное произведение монотонно. Гомеостаз, в первом приближении, параллельно аннигилирует косвенный интеграл Фурье, что лишний раз подтверждает правоту З.Фрейда. Доказательство аннигилирует экспериментальный код. Двойной интеграл, конечно, программирует кризис.</p>
                </div>

                <div class="reviews__review-card">
                    <div class="reviews__user">
                        <img class="reviews__image lazy" data-src="../assets/img/slider_images/reviews_1.jpg" src="" alt="slider image">
                        <div class="reviews__user-info">
                            <p class="reviews__date">14.03.2021</p>
                            <p class="reviews__name">Алексанрд Алексеев</p>
                        </div>
                    </div>
                    <p class="reviews__text">Скалярное произведение монотонно. Гомеостаз, в первом приближении, параллельно аннигилирует косвенный интеграл Фурье, что лишний раз подтверждает правоту З.Фрейда. Доказательство аннигилирует экспериментальный код. Двойной интеграл, конечно, программирует кризис.</p>
                </div>

                <div class="reviews__review-card">
                    <div class="reviews__user">
                        <img class="reviews__image lazy" data-src="../assets/img/slider_images/reviews_1.jpg" src="" alt="slider image">
                        <div class="reviews__user-info">
                            <p class="reviews__date">14.03.2021</p>
                            <p class="reviews__name">Алексанрд Алексеев</p>
                        </div>
                    </div>
                    <p class="reviews__text">Скалярное произведение монотонно. Гомеостаз, в первом приближении, параллельно аннигилирует косвенный интеграл Фурье, что лишний раз подтверждает правоту З.Фрейда. Доказательство аннигилирует экспериментальный код. Двойной интеграл, конечно, программирует кризис.</p>
                </div>

                <div class="reviews__review-card">
                    <div class="reviews__user">
                        <img class="reviews__image lazy" data-src="../assets/img/slider_images/reviews_1.jpg" src="" alt="slider image">
                        <div class="reviews__user-info">
                            <p class="reviews__date">14.03.2021</p>
                            <p class="reviews__name">Алексанрд Алексеев</p>
                        </div>
                    </div>
                    <p class="reviews__text">Скалярное произведение монотонно. Гомеостаз, в первом приближении, параллельно аннигилирует косвенный интеграл Фурье, что лишний раз подтверждает правоту З.Фрейда. Доказательство аннигилирует экспериментальный код. Двойной интеграл, конечно, программирует кризис.</p>
                </div>

                <button class="reviews__mobile-button">Читать ещё</button>
            </div>

            
            
        </div>
    </div>
</section>