<section class="what-for">
    <div class="container">
        <div class="what-for__wrapper">
            <h2 class="what-for__title">Зачем это нам?</h2>

            <p class="what-for__text">Мы разработали новое решение, которое даст выгоду нашим заказчикам. При этом, это решение дает выгоду и нам: мы находим новых партнеров для наших будущих совместных крупных проектов. </p>
        </div>
    </div>
</section>