<section class="why-us">
    <div class="container">
        <div class="why-us__wrapper row">
            <div class="why-us__images col-lg-6">
                <img class="why-us__img" src="/assets/img/why-us.svg" alt="why us">
            </div>

            <div class="why-us__textblock col-lg-5 offset-lg-1">
                <h2 class="why-us__title">Почему мы?</h2>

                <p class="why-us__text">
                    Мы коллаборация двух компаний, у которых имеются собственные крупные успешные кейсы, где каждая компания отвечает за свое направление: креативная студия «Growtask» — создание сайта, перформанс агентство «The Mad Group» — контекстная или таргетированная реклама и SEO-оптимизация лендинга. Благодаря качественному взаимодействию профессионалов, наш партнер получает максимально качественный результат за низкую стоимость.
                </p>
            </div>
        </div>

    </div>
</section>