<section class="work-with">
    <div class="container mobile-container">
        <h2 class="work-with__h2">
            С кем мы сотрудничаем
        </h2>

        <div class="work-with__cards">
            <div class="work-with__card">
                <img data-src="/assets/img/work_with/mbs.svg" src="" alt="logo" class="work-with__image lazy">
            </div>
            <div class="work-with__card">
                <img data-src="/assets/img/work_with/kora.svg" src="" alt="logo" class="work-with__image lazy">
            </div>
            <div class="work-with__card">
                <img data-src="/assets/img/work_with/osb.png" src="" alt="logo" class="work-with__image lazy">
            </div>
            <div class="work-with__card">
                <img data-src="/assets/img/work_with/bikos.svg" src="" alt="logo" class="work-with__image lazy">
            </div>
        </div>

        <div class="work-with__mobile-wrapper">
            <div class="swiper-container work-with__cards_m">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="work-with__card_m swiper-slide">
                        <img data-src="/assets/img/work_with/mbs.svg" src="" alt="logo" class="work-with__image lazy">
                    </div>
                    <div class="work-with__card_m swiper-slide">
                        <img data-src="/assets/img/work_with/kora.svg" src="" alt="logo" class="work-with__image lazy">
                    </div>
                    <div class="work-with__card_m swiper-slide">
                        <img data-src="/assets/img/work_with/osb.png" src="" alt="logo" class="work-with__image lazy">
                    </div>
                    <div class="work-with__card_m swiper-slide">
                        <img data-src="/assets/img/work_with/bikos.svg" src="" alt="logo" class="work-with__image lazy">
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>